<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tags</title>
</head>
<body>
    {% load my_tags %}
    {{ 11|my_filter:22 }}
    {% my_tag1 11 22 33 %}
    <p id="1">This is a paragraph.</p>
    <button type="button" onclick="myFunction1()">Try this</button>
    <button type="button" onclick="myFunction2()">Try this</button>
    <script language="JavaScript" src="/static/js/myScript.js"></script>
    <img src="/static/images/desktopSnapshot.png">
    <p><a href="/first">jump to the first page</a></p>
    <p>The <abbr title="The People's Republic of China">PRC</abbr> was found in 1949. </p>
    <script>
        /* abcdef
dfjojow */
    </script>
</body>
</html>